/* panel-title controls drop downs with arrows */
.panel-title {
    position: relative;
}

.panel-title::after {
    content: "\f107";
    right: 0;
    position: absolute;
    font-family: "FontAwesome";
}

.panel-title[aria-expanded="true"]::after {
    content: "\f106";
}

/* dark mode stuff */
[data-theme="dark"] {
    background-color: #111 !important;
    color: #eee;
}

[data-theme="dark"] pre {
    color: #eee;
}

[data-theme="dark"] .bg-light, [data-theme="dark"] .list-group-item {
    background-color: #333 !important;
}

[data-theme="dark"] .form-control, [data-theme="dark"] .custom-select {
    background-color: #ccc !important;
    color: #222;
}

/*[data-theme="dark"] .button-outline {*/
/*    color: #eee;*/
/*}*/
